@import url("https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}
