// COLORS
$color-primary: #495e57;
$color-primary-light: #76948a;
$color-primary-dark: #32413c;

$color-secondary-light: #f4ce14;
$color-secondary-dark: #c4a610;

$color-tertiary-light: #edefee;
$color-tertiary: #fbdabb;
$color-tertiary-dark: #ee9972;

$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//grid
