.about {
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  &_text {
    width: 45%;

    &-heading {
      margin-bottom: 5rem;
      &-1 {
        font-family: "Markazi Text", serif;
        font-size: 4rem;
      }
      &-3 {
        font-family: "Karla", serif;
        font-size: 2.5rem;
      }
    }
    &-par {
      font-family: "Karla", serif;
      font-size: 2rem;
    }
  }
  &_pics {
    width: 45%;
    display: flex;
    align-items: start;
    justify-content: end;

    &-pic {
      height: 30rem;
      width: 20rem;
      box-shadow: 5px 5px 2rem #000;
      &-1 {
        transform: translate(5rem, 10rem);
      }
      &-2 {
        z-index: 1;
      }
    }
  }
}
