.btn {
  border: none;
  border-radius: 0.3rem;
  font-size: 2rem;
  padding: 2rem 4rem;
  background-color: $color-secondary-light;
  cursor: pointer;
  &:hover {
    background-color: $color-secondary-dark;
  }
}
