.specials {
  padding: 10rem 0 5rem 0;
  &_header {
    grid-column: 3/5;
    font-size: 4rem;
    color: $color-black;
    font-family: "Karla", serif;
  }
  &_btn {
    grid-column: 9/11;
    padding-left: 5.4rem;
  }
}
.Cards {
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
}
